h1{
    text-align: center;
    width: 600px;
    background: green;
    border-radius: 40px;
    margin: 10px auto;
    padding: 10px;
}
.product{
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        width: calc(100% / 4 - 20px);
        margin: 10px;
        border: 1px solid gray;

    }
    &__image{
        width: 100%;
        aspect-ratio: 4/3;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        margin: 10px 0;
        font-size: 24px;
    }
    &__price{
        font-size: 20px;
        color: red;
    }
}
.pagination{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
  
    &__item{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: orange;
        color: white;
        cursor: pointer;
        text-align: center;
    }
}